# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
install
node_modules

# gyp
Makefile
*.Makefile
*.target.mk
*.xcodeproj/
gyp-mac-tool
out/

# xcode and mac stuff
*.xcodeproj
.*.swp
._*.cc
._*.hh
._*.pc
DS_Store
*DS_Store
.*DS_Store
suppress.vg
typescript
tags
*A\ Document\ Being\ Saved*

# NFS
.nfs.*
.nfs[0-9a-f]*
tmp/

# cscope
cscope.out
